#img1 {
  background-image: linear-gradient(
      45deg,
      rgba(32, 32, 32, 0.521),
      rgba(58, 57, 57, 0.692)
    ),
    url("../image/Image1\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
  position: relative;
}

#herosection {
  position: relative;
}

.typediv {
  width: 575px;
}

.typing-demo {
  width: 14ch;
  animation: typing 2s steps(15), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  /* font-size: 6em; */
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@property --progress-value {
  syntax: "<integer>";
  inherits: true;
  initial-value: 0;
}
:root {
  --progress-bar-color: #cfd8dc;
  --progress-value-color: #2196f3;
  --progress-empty-color-h: 4.1;
  --progress-empty-color-s: 89.6;
  --progress-empty-color-l: 58.4;
  --progress-filled-color-h: 122.4;
  --progress-filled-color-s: 39.4;
  --progress-filled-color-l: 49.2;
}

/* html, body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body {
  justify-content: space-evenly;
  max-height: 300px;
  width: 100%;
  max-width: 400px;
  font-family: "Roboto Mono", monospace;
} */

progress[value] {
  display: block;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 80%;
  height: 6px;
  border: 0;
  --border-radius: 10px;
  border-radius: var(--border-radius);
  counter-reset: progress var(--progress-value);
  --progress-value-string: counter(progress) "%";
  --progress-max-decimal: calc(var(--value, 0) / var(--max, 0));
  --progress-value-decimal: calc(var(--progress-value, 0) / var(--max, 0));
  --progress-value-percent: calc(var(--progress-value-decimal) * 100%);
  --progress-value-color: hsl(
    calc(
        (
            var(--progress-empty-color-h) +
              (var(--progress-filled-color-h) - var(--progress-empty-color-h)) *
              var(--progress-value-decimal)
          ) * 1deg
      )
      calc(
        (
            var(--progress-empty-color-s) +
              (var(--progress-filled-color-s) - var(--progress-empty-color-s)) *
              var(--progress-value-decimal)
          ) * 1%
      )
      calc(
        (
            var(--progress-empty-color-l) +
              (var(--progress-filled-color-l) - var(--progress-empty-color-l)) *
              var(--progress-value-decimal)
          ) * 1%
      )
  );
  -webkit-animation: calc(3s * var(--progress-max-decimal)) linear 0.5s 1 normal
    both progress;
  animation: calc(3s * var(--progress-max-decimal)) linear 0.5s 1 normal both
    progress;
}
@supports selector(::-moz-progress-bar) {
  progress[value] {
    --progress-value-decimal: calc(var(--value, 0) / var(--max, 0));
  }
}

progress[value]::-webkit-progress-bar {
  background-color: var(--progress-bar-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}

progress[value]::-webkit-progress-value {
  width: var(--progress-value-percent) !important;
  background-color: var(--progress-value-color);
  border-radius: var(--border-radius);
}

progress[value]::-moz-progress-bar {
  width: var(--progress-value-percent) !important;
  background-color: var(--progress-value-color);
  border-radius: var(--border-radius);
}

progress[value]::after {
  display: flex;
  align-items: center;
  justify-content: center;
  --size: 32px;
  width: var(--size);
  height: var(--size);
  position: absolute;
  left: var(--progress-value-percent);
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--progress-value-color);
  border-radius: 50%;
  content: attr(value);
  content: var(--progress-value-string, var(--value));
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

@-webkit-keyframes progress {
  from {
    --progress-value: 0;
  }
  to {
    --progress-value: var(--value);
  }
}

@keyframes progress {
  from {
    --progress-value: 0;
  }
  to {
    --progress-value: var(--value);
  }
}

#img34 {
  /* background-image: linear-gradient(45deg, rgba(94, 93, 93, 0.322), rgba(116, 115, 115, 0.692)),url("../image/Image1\ \(3\).jpg"); */
  background-image: url(../image/computer_parts.jpg);
  background-repeat: no-repeat;
  background-size: 100vh 100vw;
  /* height: 600px; */
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-20deg, red 50%, #000 50%);
  bottom: 0;
  left: -100%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

/* body{
  padding: 40px;
  background-color: #121212;  
} */

.java {
  border-right: solid 3px rgba(0, 255, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
  font-size: 28px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
}

/* Animation */
.java {
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 472px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 255, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
 

/* --------------------------------------herosection effect css--------------------- */
section{
  height:100%;
  width:100%;
    position:absolute ;  background:radial-gradient(#333,#000);
  }
  .leaf{
      position:absolute ;
      width:100%;
      height:100%;
      top:0;
      left:0;
  }
  .leaf div{
  position:absolute ;
  display:block ;
  }
  .leaf div:nth-child(1){
      left:20%; 
      animation:fall 15s linear infinite ;
      animation-delay:-2s;
  
  }
  .leaf div:nth-child(2){
      left:70%; 
      animation:fall 15s linear infinite ;
      animation-delay:-4s;
  }
  .leaf div:nth-child(3){
      left:10%; 
      animation:fall 20s linear infinite ;
      animation-delay:-7s;
      
  }
  .leaf div:nth-child(4){
      left:50%; 
     animation:fall 18s linear infinite ; 
     animation-delay:-5s;
  }
  .leaf div:nth-child(5){
      left:85%; 
      animation:fall 14s linear infinite ;
      animation-delay:-5s;
  }
  .leaf div:nth-child(6){
      left:15%; 
      animation:fall 16s linear infinite ;
      animation-delay:-10s;
  }
  .leaf div:nth-child(7){
      left:90%; 
      animation:fall 15s linear infinite ;
      animation-delay:-4s;
  }
  
  @keyframes fall{
      0%{
          opacity:1;
          top:-10%;
          transform:translateX (20px) rotate(0deg);
      }
      20%{
          opacity:0.8;
          transform:translateX (-20px) rotate(45deg);
      }
      40%{
  
          transform:translateX (-20px) rotate(90deg);
      }
      60%{
          
         transform:translateX (-20px) rotate(135deg); 
      }
      80%{
      
          transform:translateX (-20px) rotate(180deg);
      }
      100%{
          
          top:110%;
          transform:translateX (-20px) rotate(225deg);
      }
      }
  .leaf1{
      transform: rotateX(180deg);
  }
  h2{
      position:absolute ;
      top:40%;
      width:100%;
      font-family: 'Courgette', cursive;
      font-size:4em;
      text-align:center;
      transform:translate ;
      color:#fff;
      transform:translateY (-50%);
  }

  .call{
    text-decoration: none;
  }

  .mail{
    text-decoration: none;
  }
/* --------------------------------------herosection effect css--------------------- */

