#nav{
    /* position: fixed; */
}


#herosection{
    background-image: url("../images/property-search.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    background-attachment: fixed;

}

#images{
    background-image:url("../images/paralax-half.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
     /* position: fixed;  */
     background-attachment: fixed;

    height:auto;
}

#img1{
    background-image: url("../images/b-d-property.jpg");
    background-size: 100% 100%;
    height:500px;
    width:500px;
}

#img2{
    background-image: url("../images/b-d-property-2.jpg");
    background-size: 100% 100%;
}

#m1{
       background-image: url("../images/bg-text.jpg");
       background-size:100% 100%;
       height:50vh;
}


#pp .ppd{
   background-color: white;
   color:black;
          
}
#pp .ppd:hover{
   background-color:red;
   color:white;

}


.clbtn{
    background-color: red;
    color:white;
}

.clbtn:hover{
    background-color: white;
    color:black;
    transition: 0.3s;
}

.navbar li a{
    color:white;
    background-color: black;
}
.navbar li a:hover{
    color:black;
    background-color: red;
}















































































































































































































































































#nav{
    /* position: fixed; */
}


#herosection{
    background-image: url("../images/property-search.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    background-attachment: fixed;

}

#images{
    background-image:url("../images/paralax-half.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
     /* position: fixed;  */
     background-attachment: fixed;

    height:auto;
}

#img1{
    background-image: url("../images/b-d-property.jpg");
    background-size: 100% 100%;
    height:500px;
    width:500px;
}

#img2{
    background-image: url("../images/b-d-property-2.jpg");
    background-size: 100% 100%;
}

#m1{
       background-image: url("../images/bg-text.jpg");
       background-size:100% 100%;
       height:50vh;
}
























































































































































































































































































#nav{
    /* position: fixed; */
}


#herosection{
    background-image: url("../images/property-search.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    background-attachment: fixed;

}

#images{
    background-image:url("../images/paralax-half.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
     /* position: fixed;  */
     background-attachment: fixed;

    height:auto;
}

#img1{
    background-image: url("../images/b-d-property.jpg");
    background-size: 100% 100%;
    height:500px;
    width:500px;
}

#img2{
    background-image: url("../images/b-d-property-2.jpg");
    background-size: 100% 100%;
}

#m1{
       background-image: url("../images/bg-text.jpg");
       background-size:100% 100%;
       height:50vh;
}
























































































































































































































































































#nav{
    /* position: fixed; */
}


#herosection{
    background-image: url("../images/property-search.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    background-attachment: fixed;

}

#images{
    background-image:url("../images/paralax-half.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
     /* position: fixed;  */
     background-attachment: fixed;

    height:auto;
}

#img1{
    background-image: url("../images/b-d-property.jpg");
    background-size: 100% 100%;
    height:500px;
    width:500px;
}

#img2{
    background-image: url("../images/b-d-property-2.jpg");
    background-size: 100% 100%;
}

#m1{
       background-image: url("../images/bg-text.jpg");
       background-size:100% 100%;
       height:50vh;
}
























































































































































































































































































#nav{
    /* position: fixed; */
}


#herosection{
    background-image: url("../images/property-search.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    background-attachment: fixed;

}

#images{
    background-image:url("../images/paralax-half.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
     /* position: fixed;  */
     background-attachment: fixed;

    height:auto;
}

#img1{
    background-image: url("../images/b-d-property.jpg");
    background-size: 100% 100%;
    height:500px;
    width:500px;
}

#img2{
    background-image: url("../images/b-d-property-2.jpg");
    background-size: 100% 100%;
}

#m1{
       background-image: url("../images/bg-text.jpg");
       background-size:100% 100%;
       height:50vh;
}
























































































































































































































































































#nav{
    /* position: fixed; */
}


#herosection{
    background-image: url("../images/property-search.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    background-attachment: fixed;

}

#images{
    background-image:url("../images/paralax-half.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
     /* position: fixed;  */
     background-attachment: fixed;

    height:auto;
}

#img1{
    background-image: url("../images/b-d-property.jpg");
    background-size: 100% 100%;
    height:500px;
    width:500px;
}

#img2{
    background-image: url("../images/b-d-property-2.jpg");
    background-size: 100% 100%;
}

#m1{
       background-image: url("../images/bg-text.jpg");
       background-size:100% 100%;
       height:50vh;
}
























































































































































































































































































#nav{
    /* position: fixed; */
}


#herosection{
    background-image: url("../images/property-search.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    background-attachment: fixed;

}

#images{
    background-image:url("../images/paralax-half.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
     /* position: fixed;  */
     background-attachment: fixed;

    height:auto;
}

#img1{
    background-image: url("../images/b-d-property.jpg");
    background-size: 100% 100%;
    height:500px;
    width:500px;
}

#img2{
    background-image: url("../images/b-d-property-2.jpg");
    background-size: 100% 100%;
}

#m1{
       background-image: url("../images/bg-text.jpg");
       background-size:100% 100%;
       height:50vh;
}
























































































































































































































































































#nav{
    /* position: fixed; */
}


#herosection{
    background-image: url("../images/property-search.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    background-attachment: fixed;

}

#images{
    background-image:url("../images/paralax-half.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
     /* position: fixed;  */
     background-attachment: fixed;

    height:auto;
}

#img1{
    background-image: url("../images/b-d-property.jpg");
    background-size: 100% 100%;
    height:500px;
    width:500px;
}

#img2{
    background-image: url("../images/b-d-property-2.jpg");
    background-size: 100% 100%;
}

#m1{
       background-image: url("../images/bg-text.jpg");
       background-size:100% 100%;
       height:50vh;
}

